* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.name {
  font-weight: 600;
}
.left-panel {
  flex: 1;
  text-align: left;
  padding-left: 20vh;
  margin-bottom: -2vh;
}

.right-panel {
  flex: 1;
  background-color: #4D13D1;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 150%;
  height: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 5vh;
  height: 4vh;
  font-size: 2vh;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #b9b9b9;
  color: grey;
}
.left-panel h1 {
    font-size: 4vh;
    margin-bottom: 5vh;
}
.left-panel p {
    font-size: 1.7vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
a {
  color: #4D13D1;
  text-decoration: none;
  font-weight: 600;
}
.right-panel img {
    width: 70%;
    height: 40%;
    margin-top: -23vh;
    margin-left: -1vh;
}
.term {
    font-size: 1.7vh;
    margin-top: 3vh;
    margin-left: 12vh;
}
#agree {
  width: 1.5vh;
  height: 1.5vh;
}
.container button {
  width: 63%;
  padding: 10px;
  background-color: #4D13D1;
  color: white;
  border: none;
  height: 5vh;
  font-size: 1.7vh;
  font-weight: 600;
  border-radius: 10px;
  transition: 1.5s;
}
.container button:hover {
  width: 63%;
  padding: 10px;
  background-color: #f3f3f3;
  border: 5px solid #D3D3D3;
  color: #4D13D1;
  border: none;
  height: 5vh;
  font-size: 1.7vh;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.2s;
}
.right-panel h1 {
  margin-top: 27vh;
  margin-left: -1vh;
  font-size: 4vh;
  color: #fff;
  position: absolute;
  display: flex;
}
.right-panel p {
  margin-top: 38vh;
  margin-left: -1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  font-size: 2vh;
  text-align: center;
  color: #fff;
  position: absolute;
}